/* background color for whole page */
body {
    background-color: black;
}
/* top line of page */
h1 {
    font-family: unset, fantasy;
    font-size: 40px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 3px;
    font-style: oblique;
}
/* formatting headers */
header, h3 {
    background-color: royalblue;
    text-align: center;
    padding: 0px;
}

h2.title-line {
    margin-top: 10px;
}

h2, h3 {
    font-family: arial;
}

/* formatting divider */
hr {
    background: gray;
    height: 5px;
    border: none;
}

/* center all except bio section */
div {
    text-align: center;
}

footer {
    text-align: center;
}

/* formatting pic */
.image {
    margin: 0 auto;
    width: 300px;
    display: block;
}

/* formatting text */
p {
    font-family: calibri, arial;
    color: white;
}

ul {
    font-family: calibri, arial;
    color: white;
    width: 250px;
    margin: 0 auto;
    text-align: left;
}

ol {
    font-family: calibri, arial;
    color: white;
    width: 50px;
    margin: 0 auto;
    text-align: left;
}

/* link styling */
a:link {
    color: skyblue;    
}
a:visited { 
    color: rgb(253, 8, 8);  
}
a:hover { 
    color: green;    
}
a:active { 
    color: white;  
}