/* background color for whole page */
body {
    background-color: rgb(22, 22, 22);
}
/* top line of page */
h1 {
    font-family: unset, fantasy;
    font-size: 40px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 3px;
    font-style: oblique;
}
/* formatting headers */
header, h3 {
    background-color: royalblue;
    text-align: center;
    padding: 0px;
}

h2.title-line {
    margin-top: 1px;
}

h2, h3 {
    font-family: arial;
}

/* center all except bio section */
div {
    text-align: center;
}

footer {
    text-align: center;
}

/* formatting pic */
.image {
    margin: 0 auto;
    width: 360px;
    display: block;
}

/* formatting text */
p {
    font-family: calibri, arial;
    color: white;
}

ul {
    font-family: calibri, arial;
    color: white;
    width: 250px;
    margin: 0 auto;
    text-align: left;
}

ol {
    font-family: calibri, arial;
    color: white;
    width: 50px;
    margin: 0 auto;
    text-align: left;
}

a.buttons {
    background-color: royalblue;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    padding: 15px 30px;
}

/* link styling */
a.projects:link {
    color: skyblue;    
}
a.projects:visited { 
    color: skyblue;  
}
a.projects:hover { 
    color: green;    
}
a.buttons:hover {
    background-color: green;
}
a.projects:active { 
    color: white;  
}
a.buttons:active {
    background-color: white;
}