/* background color for whole page */
body {
    background-color: rgb(22, 22, 22);
}
/* top line of page */
h1 {
    font-family: unset, fantasy;
    font-size: 40px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 3px;
    font-style: oblique;
}
/* formatting headers */
header, h3 {
    background-color: royalblue;
    text-align: center;
    padding: 0px;
}

h2.title-line {
    margin-top: 1px;
}

h2, h3 {
    font-family: arial;
}

/* center all except bio section */
div {
    text-align: center;
}

footer {
    text-align: center;
}

/* formatting pic */
.image {
    margin: 0 auto;
    width: 360px;
    display: block;
}

/* formatting text */
p {
    font-family: calibri, arial;
    color: white;
}

ul {
    font-family: calibri, arial;
    color: white;
    list-style-type: square;
    margin-left: 150px;
}

li {
    line-height: 20px;
}

.button {
    background-color: skyblue;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 8px;
}

/* link styling */
a.projects:link {
    color: skyblue;    
}
a.projects:visited { 
    color: skyblue;  
}
a.projects:hover { 
    color: green;
}
.button:hover {
    background-color: green;
    border-color: green;
}
a.projects:active { 
    color: white;  
}
.button:active {
    background-color: white;
    border-color: white;
}